*{
    margin: 0;padding: 0;box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(175, 248, 225);
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 273px;
    height: 250px;
    background-color: rgb(113, 188, 254);
    margin: 18px;
    margin-top: 66px;
}
.tool{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i {
    padding: 4px;
    cursor: pointer;
}
#main textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 10px;
}
.note textarea:focus{
    outline: none;
}
#add-btn{
    position: fixed;
    right: 10px;
    top: 10px;
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    background-color: rgb(243, 243, 243);
}
#add-btn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}